@font-face {
	font-family: 'AA Duke';
	src: url('/fonts/AADuke-Fill.woff2') format('woff2'),
		url('/fonts/AADuke-Fill.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');
