:root {
	--main-font-family: 'Inter Tight', sans-serif;

	--main-line-height: 1.21;

	--border-radius: 1rem;
	@media (max-width: $tablet-width) {
		--border-radius: 2rem;
	}

	--color-black: #1d1d1f;
	--color-semi-white: #fbfbfd;
	--color-black: #101011;
	--color-white: #fff;
	--color-dark: #303030;
	--color-semi-gray: #d4d4d4;
	--color-bright-gray: #ededed;
	--color-red: #e4121f;
	--color-roman-silver: #80868e;
	--color-metallic-bronze: #a57a45;
}
